@page "/dashboard"
<div class="dashboard-wrapper">
    <BSContainer Container="Container.Default">
        <BSRow>
            <AppCard Title="Todo List" Icon="@Icons.Filled.Checklist" AppPath="/todo-list"></AppCard>
            <AppCard Title="Cards" Icon="@Icons.Filled.CreditCard" AppPath="/cards"></AppCard>
            <AppCard Title="Bank Accounts" Icon="@Icons.Filled.AccountBalance" AppPath="/bank-accounts"></AppCard>
            <AppCard Title="World Clock" Icon="@Icons.Filled.AccessTime" AppPath="world-clock"></AppCard>
            <AppCard Title="Stop Watch" Icon="@Icons.Filled.Timer" AppPath="stop-watch"></AppCard>
            <AppCard Title="Birthday Reminders" Icon="@Icons.Filled.Cake" AppPath="/birthday-reminders"></AppCard>
        </BSRow>
    </BSContainer>
</div>